@model IEnumerable<CIFRAS.Application.ViewModel.ReciboEmprestimoVm>
@using CIFRAS.Presentation.Helpers.General

@if (Model != null && Model.Any())
{
    int i = 0;

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome do Cliente</th>
                <th>Banco</th>
                <th>Convênio</th>
                <th>Especificação</th>
                <th>Valor Solicitado</th>
                <th>Valor Liberado</th>
                <th>Parcelas</th>
                <th>Comissão</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NomeCliente</td>
                    <td>@item.BancoView</td>
                    <td>@item.TipoClienteView</td>
                    <td>@item.EspecificacaoEmprestimo.GetEnumDisplayName()</td>
                    <td>@item.ValorSolicitado</td>
                    <td>@item.ValorLiberado</td>
                    <td>@item.QtdeParcelas</td>
                    <td>@item.PercentualComissao</td>
                    <td><a href="#" onclick="RemoverEmprestimo('@($"{ Url.Action("RemoverReciboEmprestimo", "Recibo")}?index= {i}")')">Cancelar</a></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}